@import './layout.css';

:root {
	--color-bg-0: #0f1423;
	--color-bg-1: #15559a;
	--color-bg-2: #2474b5;
	--color-theme-1: #2e317c;
	--color-theme-2: #8a988e;
	--color-text: rgba(0, 0, 0, 0.7);
	--color-gold: #e1b066;
	font-family: var(--font-body);
	color: var(--color-text);
}
